.department-card {
  height: 120px;
  width: 800px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.department-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  text-align: center;
}

.card-title {
  text-decoration: none; /* Remove underline */
}

.text-right {
  text-align: right;
  padding: 10px;
}

.form-control{

}
